<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="Matrix Admin Lite Free Version is a powerful and clean admin dashboard template, inspired by Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>Matrix Admin Lite Free Versions Template by WrapPixel</title>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/images/favicon.png"
    />
    <link href="../dist/css/style.min.css" rel="stylesheet" />
    <style>
      .alert {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 50px;
        border: 1px solid #d4edda;
        border-radius: 5px;
        background-color: #d4edda;
        color: #155724;
        z-index: 9999;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>

  <body>
    <div class="main-wrapper">
      <div class="preloader">
        <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
        </div>
      </div>

      <% if ( messages.length > 0) { %>
        <div class="alert alert-danger" id="messages">
          <p class="m-0"><%= messages[0] %></p>
        </div>
      <% } %>

      <div
        class="
          auth-wrapper
          d-flex
          no-block
          justify-content-center
          align-items-center
          bg-dark
        "
      >
        <div class="auth-box bg-dark border-top border-secondary">
          <div id="loginform">
            <div class="text-center pt-3 pb-3">
              <span class="db"
                ><img src="../assets/images/logo.png" alt="logo"
              /></span>
            </div>
            <form
              class="form-horizontal mt-3"
              id="loginform1"
              action="/loginProcess"
              method="post"
            >
              <div class="row pb-4">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-success text-white h-100"
                        id="basic-addon1"
                        ><i class="mdi mdi-account fs-4"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Username"
                      name="name"
                      required=""
                    />
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span
                        class="input-group-text bg-warning text-white h-100"
                        id="basic-addon2"
                        ><i class="mdi mdi-lock fs-4"></i
                      ></span>
                    </div>
                    <input
                      type="password"
                      class="form-control form-control-lg"
                      placeholder="Password"
                      name="password"
                      required=""
                    />
                  </div>
                </div>
              </div>
              <div class="row border-top border-secondary">
                <div class="col-12">
                  <div class="form-group">
                    <div class="pt-3">
                      <button
                        class="btn btn-info"
                        id="to-recover"
                        type="button"
                      >
                        <i class="mdi mdi-lock fs-4 me-1"></i> Lost password?
                      </button>
                      <input
                        class="btn btn-success float-end text-white"
                        type="submit" name="login"
                      >
                      </input>
                    </div>
                    <a href="/register">Register If new!</a>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div id="recoverform" style="display:none;">
            <div class="text-center pt-3 pb-3">
              <span class="db"
                ><img src="../assets/images/logo.png" alt="logo"
              /></span>
              <h4 class="text-white">Recover Password</h4>
              <p class="text-white">Enter your Email and instructions will be sent to you!</p>
            </div>
            <form class="form-horizontal mt-3" action="/sendOtp" method="post">
              <div class="row pb-4">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-danger text-white h-100"><i class="mdi mdi-email fs-4"></i></span>
                    </div>
                    <input type="email" class="form-control form-control-lg" placeholder="Email Address" name="email" required="" />
                  </div>
                </div>
              </div>
              <div class="row border-top border-secondary">
                <div class="col-12">
                  <div class="form-group">
                    <div class="pt-3">
                      <button class="btn btn-primary" type="submit">Send OTP</button>
                      <button class="btn btn-info float-end" id="to-login" type="button">Back to Login</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div id="otpform" style="display:none;">
            <div class="text-center pt-3 pb-3">
              <span class="db"
                ><img src="../assets/images/logo.png" alt="logo"
              /></span>
              <h4 class="text-white">Enter OTP</h4>
              <p class="text-white">Check your email for the OTP and enter it below.</p>
            </div>
            <form class="form-horizontal mt-3" action="/verifyOtp" method="post">
              <div class="row pb-4">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-success text-white h-100"><i class="mdi mdi-key fs-4"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-lg" placeholder="Enter OTP" name="otp" required="" />
                  </div>
                </div>
              </div>
              <div class="row border-top border-secondary">
                <div class="col-12">
                  <div class="form-group">
                    <div class="pt-3">
                      <button class="btn btn-success" type="submit">Verify OTP</button>
                      <button class="btn btn-info float-end" id="to-recover2" type="button">Back to Recover</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      $(".preloader").fadeOut();
      $("#to-recover").on("click", function () {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $("#to-login").click(function () {
        $("#recoverform").hide();
        $("#loginform").fadeIn();
      });
      $("#to-recover2").click(function () {
        $("#otpform").hide();
        $("#recoverform").fadeIn();
      });
    </script>
    <script>
      const messageele = document.querySelector('#messages');
      setTimeout(() => {
        if (messageele) {
          messageele.style.display = 'none';
        }
      }, 1500); 
    </script>
  </body>
</html>
